In [4]:


import pandas as pd


votes = pd.read_csv('dataset.csv',sep="\t")

In [5]:
votes.head()

,Unnamed: 0,index,district,id,LAST_NAME,FIRST_NAME,zip,female,dob,regyear,party,electiondate,general,typeofvote,age
0,0,4581539,DUV,103746250,Jennings,Barbara,32225,F,1944-05-23 00:00:00,08/12/2004,REP,11/08/2016,GEN,A,73.0
1,1,6399633,DUV,103699536,Nellenbach,Marlene,32223,F,1944-07-04 00:00:00,09/03/1996,NPA,11/04/2014,GEN,A,73.0
2,2,5068762,DUV,103823224,YORK,MARTHA,32246,F,1948-02-10 00:00:00,10/05/1992,REP,11/04/2008,GEN,Y,69.0
3,3,2390889,CLA,102858200,SUCO,BRANDI,32656,F,1981-09-25 00:00:00,05/16/2000,IDP,11/07/2006,GEN,N,36.0
4,4,7092052,DUV,103844317,Amato,Lisa,32250,F,1972-09-14 00:00:00,10/01/2004,DEM,11/04/2008,GEN,Y,45.0

In [6]:
len(votes)
# NOTE THIS IS A SAMLE OF 10K

10000

In [9]:
votes["electiondate"].unique()

## Note that even if people voted early, they are still listed as 11/04/2008 or 11/08/2016

array(['11/08/2016', '11/04/2014', '11/04/2008', '11/07/2006', nan,
       '01/31/2012', '08/30/2016', '11/06/2012', '11/02/2010',
       '08/14/2012', '08/26/2014', '01/29/2008', '05/19/2015',
       '09/05/2006', '09/15/2009', '03/15/2016', '08/24/2010',
       '05/17/2011', '03/24/2015', '03/22/2011', '08/26/2008',
       '05/15/2007', '06/24/2014', '04/16/2013', '04/18/2006',
       '09/18/2007', '10/06/2009', '11/05/2013', '11/06/2007',
       '05/12/2009', '04/01/2008', '04/22/2008', '08/25/2015',
       '09/20/2011', '03/20/2007', '12/09/2008', '08/27/2013',
       '09/19/2006', '04/17/2012', '03/13/2007', '04/19/2011',
       '04/21/2015', '04/22/2014', '06/26/2007', '04/17/2007',
       '12/01/2009', '12/16/2014', '02/17/2015', '08/28/2007',
       '04/05/2011', '11/20/2007', '01/10/2006', '04/02/2013',
       '02/26/2008', '03/14/2006', '04/20/2010', '01/26/2010',
       '05/19/2009', '08/30/2011', '04/19/2016', '02/07/2006',
       '03/13/2012', '10/30/2007', '04/25/2014', '10/02/2007',
       '09/04/2007', '09/09/2014', '12/07/2010', '04/01/2014',
       '03/11/2014', '06/05/2007', '10/16/2007', '04/06/2010',
       '12/05/2006', '04/20/2006', '09/30/2014', '07/04/2010',
       '02/01/2011', '02/02/2010', '09/06/2011', '03/06/2007',
       '03/03/2009', '09/30/2008', '08/31/2010', '04/21/2009', '09/10/2013'], dtype=object)

In [11]:
votes["general"].unique()

array(['GEN', nan, 'PPP', 'PRI', 'OTH'], dtype=object)

In [14]:

## Get rid of anything but GEN
votes = votes.loc[votes["general"]=="GEN"]

In [19]:

## Make columns for Gen
votes['GEN16'] = 0

votes['GEN14'] = 0

In [20]:
votes.columns

Index(['Unnamed: 0', 'index', 'district', 'id', 'LAST_NAME', 'FIRST_NAME',
       'zip', 'female', 'dob', 'regyear', 'party', 'electiondate', 'general',
       'typeofvote', 'age', 'GEN16', 'GEN14'],
      dtype='object')

In [25]:
## change  those who votes to dummy variables
votes.loc[votes["electiondate"]=="11/08/2016", 'GEN16'] = 1
votes.loc[votes["electiondate"]=="11/04/2008", 'GEN14'] = 1

In [28]:
import numpy as np
print(np.sum(votes["GEN16"]), np.sum(votes["GEN14"]))

1184 801

In [29]:
len(votes)

5158

In [43]:
## Note that Riddhi already collapsed on the file

np.sum(votes["id"].duplicated())

votes = votes.drop_duplicates('id', keep="first")

In [46]:
votes.to_csv('Milestone33.csv', sep='\t')

In [44]:
votes.head()

,Unnamed: 0,index,district,id,LAST_NAME,FIRST_NAME,zip,female,dob,regyear,party,electiondate,general,typeofvote,age,GEN16,GEN14
0,0,4581539,DUV,103746250,Jennings,Barbara,32225,F,1944-05-23 00:00:00,08/12/2004,REP,11/08/2016,GEN,A,73.0,1,0
1,1,6399633,DUV,103699536,Nellenbach,Marlene,32223,F,1944-07-04 00:00:00,09/03/1996,NPA,11/04/2014,GEN,A,73.0,0,0
2,2,5068762,DUV,103823224,YORK,MARTHA,32246,F,1948-02-10 00:00:00,10/05/1992,REP,11/04/2008,GEN,Y,69.0,0,1
3,3,2390889,CLA,102858200,SUCO,BRANDI,32656,F,1981-09-25 00:00:00,05/16/2000,IDP,11/07/2006,GEN,N,36.0,0,0
4,4,7092052,DUV,103844317,Amato,Lisa,32250,F,1972-09-14 00:00:00,10/01/2004,DEM,11/04/2008,GEN,Y,45.0,0,1

In [45]:
np.sum(votes["id"].duplicated())

0