# Baseline Classifier Evaluation

** uses nltk Max Entropy classifier **

original algorithm here: https://github.com/kitofans/ethnicityguesser

Evaluation method as prepared below made by our team.:)

In [19]:
import pandas as pd
import csv
import pickle
import numpy as np
from NLTKMaxentEthnicityClassifier import NLTKMaxentEthnicityClassifier as mxec

In [30]:
## Import lists

from os import walk

f = []
for (dirpath, dirnames, filenames) in walk("pickled_names"):
    f.extend(filenames)
    break

# clean .txt
ethnicities = []
for each in f:
    ethnicities.append(each.partition('.')[0])

ethnicities

eth_dict = {}

for ethnicity in ethnicities:
    with open('pickled_names/'+ethnicity+'.pkl', 'rb') as filename:
        names = pickle.load(filename)
    eth_dict[ethnicity] = names

In [33]:
ethnicities

['indian',
 'spanish',
 'ukranian',
 'french',
 'african',
 'korean',
 'czech',
 'irish',
 'vietnamese',
 'swedish',
 'greek',
 'muslim',
 'chinese',
 'italian',
 'slavic',
 'danish',
 'japanese',
 'jewish',
 'swiss',
 'arabic',
 'portugese',
 'german',
 'russian']

In [44]:
## make a super list of names and true ethnicities

super_list_names = []
super_list_ethnicities = []

for ethnicity in ethnicities:
    name_list = eth_dict[ethnicity][0]
    eth_list = []
    for name in name_list:
        eth_list.append(ethnicity)
    super_list_names = super_list_names + name_list
    super_list_ethnicities = super_list_ethnicities + eth_list
    
df = pd.DataFrame(
            {'Name': super_list_names,
             'True Ethnicity': super_list_ethnicities
            })

In [89]:
df.head()

       Name True Ethnicity
0   Acharya         indian
1   Agarwal         indian
2     Agate         indian
3  Aggarwal         indian
4   Agrawal         indian

In [49]:
## Split into Training and Test
msk = np.random.rand(len(df)) < 0.3
train_df = df[msk]
test_df = df[~msk]

print len(test_df), len(train_df)

14046 6199

In [56]:
## Package DF into token
train_tokens = []
for ethnicity in ethnicities:
    new_tokens = (list(train_df[train_df['True Ethnicity'] == ethnicity]['Name']), ethnicity)
    train_tokens.append(new_tokens)

## tokens must be a list of ([list of names], 'ethnicity') pairs. Ethnicities can be repeated.

In [59]:
## Train Classifier (beware, this takes time)

classifier = mxec(train_tokens)
classifier.train()

  ==> Training (100 iterations)

      Iteration    Log Likelihood    Accuracy
      ---------------------------------------
             1          -3.13549        0.006
             2          -1.35965        0.708
             3          -0.97083        0.862
             4          -0.76069        0.914
             5          -0.63048        0.937
             6          -0.54141        0.949
             7          -0.47632        0.955
             8          -0.42650        0.959
             9          -0.38707        0.962
            10          -0.35502        0.964
            11          -0.32844        0.965
            12          -0.30602        0.966
            13          -0.28683        0.966
            14          -0.27022        0.967
            15          -0.25570        0.967
            16          -0.24289        0.967
            17          -0.23150        0.968
            18          -0.22130        0.968
            19          -0.21212        0.968
            20          -0.20381        0.968
            21          -0.19625        0.968
            22          -0.18934        0.968
            23          -0.18300        0.968
            24          -0.17717        0.968
            25          -0.17178        0.968
            26          -0.16678        0.968
            27          -0.16213        0.968
            28          -0.15781        0.968
            29          -0.15376        0.968
            30          -0.14998        0.968
            31          -0.14642        0.968
            32          -0.14308        0.968
            33          -0.13994        0.968
            34          -0.13697        0.969
            35          -0.13416        0.969
            36          -0.13151        0.969
            37          -0.12899        0.969
            38          -0.12659        0.969
            39          -0.12432        0.969
            40          -0.12215        0.969
            41          -0.12009        0.969
            42          -0.11812        0.969
            43          -0.11624        0.969
            44          -0.11444        0.969
            45          -0.11272        0.969
            46          -0.11107        0.969
            47          -0.10948        0.969
            48          -0.10796        0.969
            49          -0.10651        0.969
            50          -0.10510        0.969
            51          -0.10375        0.969
            52          -0.10245        0.969
            53          -0.10120        0.969
            54          -0.09999        0.969
            55          -0.09883        0.969
            56          -0.09770        0.969
            57          -0.09661        0.969
            58          -0.09556        0.969
            59          -0.09454        0.969
            60          -0.09356        0.969
            61          -0.09261        0.969
            62          -0.09168        0.969
            63          -0.09079        0.969
            64          -0.08992        0.969
            65          -0.08908        0.969
            66          -0.08826        0.969
            67          -0.08747        0.969
            68          -0.08670        0.969
            69          -0.08595        0.969
            70          -0.08522        0.969
            71          -0.08451        0.969
            72          -0.08382        0.969
            73          -0.08315        0.969
            74          -0.08249        0.969
            75          -0.08186        0.969
            76          -0.08123        0.969
            77          -0.08063        0.969
            78          -0.08004        0.969
            79          -0.07946        0.969
            80          -0.07890        0.969
            81          -0.07835        0.969
            82          -0.07782        0.969
            83          -0.07729        0.969
            84          -0.07678        0.969
            85          -0.07628        0.969
            86          -0.07580        0.969
            87          -0.07532        0.969
            88          -0.07485        0.969
            89          -0.07440        0.969
            90          -0.07395        0.969
            91          -0.07351        0.969
            92          -0.07308        0.969
            93          -0.07266        0.969
            94          -0.07225        0.969
            95          -0.07185        0.969
            96          -0.07146        0.969
            97          -0.07107        0.969
            98          -0.07069        0.969
            99          -0.07032        0.969
         Final          -0.06996        0.969

In [95]:
print classifier.classify('alexander')
print classifier.classify('robert')
print classifier.classify('li')
print classifier.classify('sajkfldsafh')

swedish
french
chinese
jewish

In [76]:
## Predict!!!!

test_names = list(test_df['Name'])
test_eth = list(test_df['True Ethnicity'])

test_preds = []

for name in test_names:
    pred = classifier.classify(name)
    test_preds.append(pred)

df_preds = pd.DataFrame({
    'Name': test_names,
    'True Ethnicity': test_eth,
    'Prediction': test_preds
})

df_preds.head()

       Name Prediction True Ethnicity
0   Acharya     indian         indian
1   Agarwal     indian         indian
2     Agate     french         indian
3  Aggarwal     indian         indian
4   Agrawal     jewish         indian

In [97]:
# Add True if you got it right
df_preds['Accuracy'] = (df_preds['Prediction']==df_preds['True Ethnicity'])
df_preds.head()

       Name Prediction True Ethnicity  Accuracy
0   Acharya     indian         indian      True
1   Agarwal     indian         indian      True
2     Agate     french         indian     False
3  Aggarwal     indian         indian      True
4   Agrawal     jewish         indian     False

In [79]:
## Tool to Calculate TPR

def calcAccuracy(df):
    length = len(df)
    length_true = len(df[df['Accuracy']==True])
    return float(length_true)/float(length)

In [86]:
accuracies = []
ethnicity_list = []

# ethnic accuracies
for ethnicity in ethnicities:
    accuracy = calcAccuracy(df_preds[df_preds['True Ethnicity']==ethnicity])
    accuracies.append(accuracy)
    ethnicity_list.append(ethnicity)

# Aggregate accuracy
accuracies.append(calcAccuracy(df_preds))
ethnicity_list.append('OVERALL')

# put into df
df_acc = pd.DataFrame({
    'ethnicity': ethnicity_list,
    'True Positive Rate': accuracies
})

df_acc.set_index('ethnicity', inplace=True)

In [87]:
df_acc

            True Positive Rate
ethnicity
indian                0.256858
spanish               0.607336
ukranian              0.188119
french                0.793724
african               0.221698
korean                0.048780
czech                 0.546201
irish                 0.348624
vietnamese            0.065217
swedish               0.593556
greek                 0.301695
muslim                0.401163
chinese               0.394040
italian               0.438000
slavic                0.129944
danish                0.293501
japanese              0.743590
jewish                0.629647
swiss                 0.222836
arabic                0.070423
portugese             0.203098
german                0.249493
russian               0.193277
OVERALL               0.520646