# Baseline Classifier Evaluation

** uses nltk Max Entropy classifier **

original algorithm here: https://github.com/kitofans/ethnicityguesser


** TOC **

1. Import & Clean Name Data
2. EDA on Name Data
3. Training the Baseline Model
4. Evaluating the Baseline Model

In [2]:
from ethnicityguesser.NLTKMaxentEthnicityClassifier import NLTKMaxentEthnicityClassifier as mxec
from os import walk
import pandas as pd
import csv
import pickle
import numpy as np

# 1. Import & Clean Name Data

In [19]:
## Import names paired with ethnicities ##

# find names of files
f = []
for (dirpath, dirnames, filenames) in walk("ethnicityguesser/pickled_names"):
    f.extend(filenames)
    break

# list types of ethnicities
ethnicities = []
for each in f:
    ethnicities.append(each.partition('.')[0])


# pair type of ethnicity to its names in a dict
eth_dict = {}
for ethnicity in ethnicities:
    with open('ethnicityguesser/pickled_names/'+ethnicity+'.pkl', 'rb') as filename:
        names = pickle.load(filename)
    eth_dict[ethnicity] = names

In [20]:
ethnicities

['chinese',
 'vietnamese',
 'irish',
 'danish',
 'french',
 'russian',
 'japanese',
 'german',
 'czech',
 'arabic',
 'ukranian',
 'swedish',
 'spanish',
 'african',
 'swiss',
 'korean',
 'jewish',
 'greek',
 'italian',
 'slavic',
 'indian',
 'muslim',
 'portugese']

In [7]:
## make a super list of names and true ethnicities

super_list_names = []
super_list_ethnicities = []

for ethnicity in ethnicities:
    name_list = eth_dict[ethnicity][0]
    eth_list = []
    for name in name_list:
        eth_list.append(ethnicity)
    super_list_names = super_list_names + name_list
    super_list_ethnicities = super_list_ethnicities + eth_list
    
df = pd.DataFrame(
            {'Name': super_list_names,
             'True Ethnicity': super_list_ethnicities
            })

# 2. EDA on Name Data

Let's examine what our name data looks like in reality.

In [23]:
df.sample(frac=1).head(10)

           Name True Ethnicity
9458   Grinberg        swedish
7489      Herda          czech
19557      Caro      portugese
13215     Guell          swiss
13208   Grunder          swiss
2000      Bonet         french
13994  Awerbuch         jewish
17392      Agli        italian
11597    Mejias        spanish
2349     Chabot         french

Let's compare the data we have for every ethnicity.

In [33]:
print "n for each ethnicity sample"
for ethnicity in ethnicities:
    print len(df[df['True Ethnicity']==ethnicity]), ethnicity

n for each ethnicity sample
426 chinese
129 vietnamese
318 irish
656 danish
4143 french
181 russian
566 japanese
723 german
1406 czech
108 arabic
409 ukranian
1158 swedish
2366 spanish
300 african
774 swiss
169 korean
3076 jewish
429 greek
711 italian
258 slavic
580 indian
525 muslim
834 portugese

23

Choosing between 23 specific ethnicities accurately is more difficult than choosing between around 5 or 6 broad defined ethnicities because (1) having more choices to choose from in general creates more opportunities for classification errors, and (2) some ethnicities from similar parts of the world have overlapping names (like "Alexander" is a common Danish, Greek, and French name).

Let's consolidate some groups that share name/cultural similarities. Let's also make equal sample sizes for each consolidated group, drawing evenly from each subgroup to prevent our classifier from ignoring "low frequency" ethnicities.

In [55]:
temp_df = pd.DataFrame(columns=['Name', 'True Ethnicity'])

target_df = temp_df
eth_list = ['danish', 'french', 'italian']

sample_df = pd.DataFrame(columns=['Name', 'True Ethnicity'])
for ethnicity in eth_list:
    eth_df = df[df['True Ethnicity']==ethnicity]
    n_per_eth = (1000 / len(eth_list))
    print n_per_eth
    sample_df = pd.concat([sample_df, eth_df.sample(n=n_per_eth)])

target_df = pd.concat([target_df,sample_df]) 

target_df['True Ethnicity'] = "white"

333
333
333

In [56]:
ethnicities

['chinese',
 'vietnamese',
 'irish',
 'danish',
 'french',
 'russian',
 'japanese',
 'german',
 'czech',
 'arabic',
 'ukranian',
 'swedish',
 'spanish',
 'african',
 'swiss',
 'korean',
 'jewish',
 'greek',
 'italian',
 'slavic',
 'indian',
 'muslim',
 'portugese']

In [65]:
# Consolidation function

df_c = pd.DataFrame(columns=['Name', 'True Ethnicity'])

def consolidate(eth_list, target_df, consolidated_eth):
    sample_df = pd.DataFrame(columns=['Name', 'True Ethnicity'])
    for ethnicity in eth_list:
        eth_df = df[df['True Ethnicity']==ethnicity]
        n_per_eth = (1000 / len(eth_list))
        sample_df = pd.concat([sample_df, eth_df.sample(n=n_per_eth, replace = True)])
    sample_df['True Ethnicity'] = consolidated_eth
    return pd.concat([target_df,sample_df]) 


# Consolidate East European
east_euro = ['russian','ukranian','czech','slavic']
df_c = consolidate(east_euro, df_c, 'Eastern European')

# Consolidate West European
west_euro = ['italian','irish','danish','french',
                'swedish','german','swiss']
df_c = consolidate(west_euro, df_c, 'Western European')

# Consolidate Muslim / Arab
muslim_arabic = ['muslim', 'arabic']
df_c = consolidate(muslim_arabic, df_c, 'Muslim/Arabic')

# Consolidate East Asian
east_asian = ['chinese','japanese','vietnamese','korean']
df_c = consolidate(east_asian, df_c, 'East Asian')

# Spanish / Hispanic can remain its own category
hispanic = ['spanish','portugese'] 
df_c = consolidate(hispanic, df_c, 'Hispanic')

# Jewish can remain its own category
jewish = ['jewish']
df_c = consolidate(jewish, df_c, 'Jewish')

# Indian can remain its own category
indian = ['indian']
df_c = consolidate(indian, df_c, 'Indian')

# African can remain its own category 
african = ['african']
df_c = consolidate(african, df_c, 'African')

print 'Cleaned sample size:', len(df_c)
df_c.sample(n=10)

Cleaned sample size: 7994

             Name True Ethnicity
18894        Abdi  Muslim/Arabic
10846       Cobos       Hispanic
16637       Vidal         Jewish
11767    Napoleon       Hispanic
12599      Adanna        African
18334         Bal         Indian
18730  Rampersaud         Indian
18520     Jhaveri         Indian
18948       Assaf  Muslim/Arabic
8607        Koury  Muslim/Arabic

In [68]:
## List Consolidated Ethnicities
ethnicities_c = [
    'Eastern European',
    'Western European',
    'Muslim/Arabic',
    'East Asian',
    'Hispanic',
    'Jewish',
    'Indian',
    'African'
]

# 3. Train the Model

In [69]:
## Split into Training and Test
msk = np.random.rand(len(df_c)) < 0.5
train_df = df_c[msk]
test_df = df_c[~msk]

print "Total Sample (n)", len (df_c)
print "Test Sample (test n)", len(test_df)
print "Train Sample (train n)", len(train_df)

Total Sample (n) 7994
Test Sample (test n) 3894
Train Sample (train n) 4100

In [70]:
## Package DF into training token
train_tokens = []
for ethnicity in ethnicities_c:
    new_tokens = (list(train_df[train_df['True Ethnicity'] == ethnicity]['Name']), ethnicity)
    train_tokens.append(new_tokens)

# (Tokens must be a list of ([list of names], 'ethnicity') pairs.)

In [71]:
## Train Classifier (beware, this takes time)

classifier = mxec(train_tokens)
classifier.train()

  ==> Training (100 iterations)

      Iteration    Log Likelihood    Accuracy
      ---------------------------------------
             1          -2.07944        0.122
             2          -1.14179        0.929
             3          -0.78956        0.950
             4          -0.61208        0.966
             5          -0.50362        0.977
             6          -0.42959        0.982
             7          -0.37544        0.986
             8          -0.33392        0.988
             9          -0.30099        0.990
            10          -0.27420        0.990
            11          -0.25196        0.991
            12          -0.23319        0.991
            13          -0.21713        0.991
            14          -0.20324        0.991
            15          -0.19109        0.991
            16          -0.18039        0.992
            17          -0.17088        0.992
            18          -0.16238        0.992
            19          -0.15473        0.992
            20          -0.14781        0.992
            21          -0.14153        0.992
            22          -0.13579        0.992
            23          -0.13054        0.992
            24          -0.12570        0.992
            25          -0.12124        0.992
            26          -0.11711        0.992
            27          -0.11328        0.992
            28          -0.10971        0.992
            29          -0.10638        0.992
            30          -0.10326        0.992
            31          -0.10034        0.992
            32          -0.09760        0.992
            33          -0.09502        0.992
            34          -0.09258        0.992
            35          -0.09028        0.992
            36          -0.08811        0.992
            37          -0.08605        0.992
            38          -0.08410        0.992
            39          -0.08224        0.992
            40          -0.08048        0.992
            41          -0.07879        0.992
            42          -0.07719        0.992
            43          -0.07566        0.992
            44          -0.07420        0.992
            45          -0.07280        0.992
            46          -0.07146        0.992
            47          -0.07018        0.992
            48          -0.06895        0.992
            49          -0.06777        0.992
            50          -0.06663        0.992
            51          -0.06554        0.992
            52          -0.06449        0.992
            53          -0.06348        0.992
            54          -0.06250        0.992
            55          -0.06156        0.992
            56          -0.06065        0.992
            57          -0.05978        0.992
            58          -0.05893        0.992
            59          -0.05811        0.992
            60          -0.05732        0.992
            61          -0.05656        0.992
            62          -0.05581        0.992
            63          -0.05510        0.992
            64          -0.05440        0.992
            65          -0.05372        0.992
            66          -0.05307        0.992
            67          -0.05243        0.992
            68          -0.05181        0.992
            69          -0.05121        0.992
            70          -0.05063        0.992
            71          -0.05006        0.992
            72          -0.04951        0.992
            73          -0.04898        0.992
            74          -0.04845        0.992
            75          -0.04795        0.992
            76          -0.04745        0.992
            77          -0.04697        0.992
            78          -0.04650        0.992
            79          -0.04604        0.992
            80          -0.04559        0.992
            81          -0.04515        0.992
            82          -0.04473        0.992
            83          -0.04431        0.992
            84          -0.04390        0.992
            85          -0.04351        0.992
            86          -0.04312        0.992
            87          -0.04274        0.992
            88          -0.04237        0.992
            89          -0.04201        0.992
            90          -0.04165        0.992
            91          -0.04131        0.992
            92          -0.04097        0.992
            93          -0.04063        0.992
            94          -0.04031        0.992
            95          -0.03999        0.992
            96          -0.03968        0.992
            97          -0.03937        0.992
            98          -0.03907        0.992
            99          -0.03878        0.992
         Final          -0.03849        0.992

In [140]:
# Test Classifier
print classifier.classify('Michael')
print classifier.classify('Roberto')
print classifier.classify('Lee')
print classifier.classify('sajkfldsafh')

def prob(name):
    return classifier.prob_classify(name)._prob_dict.items()
    #return max((p,v) for (v,p) in classifier.prob_classify(name)._prob_dict.items())

# find probability of prediction as log (lower is better)
print prob('Michael')
#print prob('Roberto')
#print prob('Lee')
#print prob('sajkfldsafh')

Western European
Hispanic
East Asian
Muslim/Arabic
[('Eastern European', -3.7065529482840653), ('Jewish', -6.6514402039659508), ('Western European', -0.16855233603485154), ('African', -11.308063175888986), ('Hispanic', -7.7907496492955053), ('Indian', -8.3545578338112048), ('East Asian', -6.0727470332155962), ('Muslim/Arabic', -10.121878347922477)]

In [83]:
## Predict!!!!

test_names = list(test_df['Name'])
test_eth = list(test_df['True Ethnicity'])

test_preds = []

for name in test_names:
    pred = classifier.classify(name)
    test_preds.append(pred)

df_preds = pd.DataFrame({
    'Name': test_names,
    'True Ethnicity': test_eth,
    'Prediction': test_preds
})

df_preds.sample(15)

           Name        Prediction    True Ethnicity
419     Triebel  Western European  Eastern European
1386     Hakimi     Muslim/Arabic     Muslim/Arabic
2639     Alpron  Western European            Jewish
1978     Apollo          Hispanic          Hispanic
2899      Baria          Hispanic            Indian
3379    Shankar            Indian            Indian
2741  Zimbalist            Jewish            Jewish
1314     Mifsud     Muslim/Arabic     Muslim/Arabic
1589    Muraoka        East Asian        East Asian
479     Acconci  Western European  Western European
99     Chernoff            Jewish  Eastern European
172      Petrik  Eastern European  Eastern European
1955      Magro          Hispanic          Hispanic
3786    Kwabena           African           African
563   Mccormick  Western European  Western European

In [84]:
# Add True if you got it right
df_preds['Accuracy'] = (df_preds['Prediction']==df_preds['True Ethnicity'])
df_preds.sample(15)

            Name        Prediction    True Ethnicity  Accuracy
1368       Koury     Muslim/Arabic     Muslim/Arabic      True
2245   De Araujo          Hispanic          Hispanic      True
1092    Siddiqui     Muslim/Arabic     Muslim/Arabic      True
2399     Tzarfat            Jewish            Jewish      True
2872     Chazzan            Jewish            Jewish      True
113        Urban  Eastern European  Eastern European      True
1345      Atiyeh     Muslim/Arabic     Muslim/Arabic      True
3146    Upadhyay            Indian            Indian      True
3215    Sundaram            Jewish            Indian     False
3801  Oluwatoyin           African           African      True
2625       Kohen            Jewish            Jewish      True
1862         Kim     Muslim/Arabic        East Asian     False
2308   Marcelino          Hispanic          Hispanic      True
2249       Velez          Hispanic          Hispanic      True
3090         Ray            Indian            Indian      True

# 4. Evaluate the Model

In [85]:
## Tool to Calculate Accuracy Rates

def calcAccuracy(df):
    length = len(df)
    length_true = len(df[df['Accuracy']==True])
    return float(length_true)/float(length)

def calcTP(df, eth):
    length = df[df['True Ethnicity']==]

In [88]:
accuracies = []
TP = [] # number of times predict X when  X ethnicity
FP = [] # number of times predict X when 'X ethnicity
TN = [] # number of times predict'X when 'X ethnicity
FN = [] # number of times predict'X when  X ethnicity


ethnicity_list = []

# Classification Accuracy
for ethnicity in ethnicities_c:
    accuracy = calcAccuracy(df_preds[df_preds['True Ethnicity']==ethnicity])
    accuracies.append(accuracy)
    ethnicity_list.append(ethnicity)

# Aggregate accuracy
accuracies.append(calcAccuracy(df_preds))
ethnicity_list.append('OVERALL')

# put into df
df_acc = pd.DataFrame({
    'True Ethnicity': ethnicity_list,
    'Classification Accuracy': accuracies
})

df_acc.set_index('True Ethnicity', inplace=True)

In [89]:
df_acc

                  Classification Rate
True Ethnicity
Eastern European             0.737418
Western European             0.577236
Muslim/Arabic                0.852590
East Asian                   0.789130
Hispanic                     0.776639
Jewish                       0.520243
Indian                       0.760784
African                      0.947047
OVERALL                      0.744992

Using

In [91]:
df_voters = pd.read_csv('Milestone33.csv', sep='\t')
df_voters

,Unnamed: 0,Unnamed: 0.1,index,district,id,LAST_NAME,FIRST_NAME,zip,female,dob,regyear,party,electiondate,general,typeofvote,age,GEN16,GEN14
0,0,0,4581539,DUV,103746250,Jennings,Barbara,32225,F,1944-05-23 00:00:00,08/12/2004,REP,11/08/2016,GEN,A,73.0,1,0
1,1,1,6399633,DUV,103699536,Nellenbach,Marlene,32223,F,1944-07-04 00:00:00,09/03/1996,NPA,11/04/2014,GEN,A,73.0,0,0
2,2,2,5068762,DUV,103823224,YORK,MARTHA,32246,F,1948-02-10 00:00:00,10/05/1992,REP,11/04/2008,GEN,Y,69.0,0,1
3,3,3,2390889,CLA,102858200,SUCO,BRANDI,32656,F,1981-09-25 00:00:00,05/16/2000,IDP,11/07/2006,GEN,N,36.0,0,0
4,4,4,7092052,DUV,103844317,Amato,Lisa,32250,F,1972-09-14 00:00:00,10/01/2004,DEM,11/04/2008,GEN,Y,45.0,0,1
5,8,8,7621091,DUV,120286726,Gadio,Adama,32206,F,1989-06-01 00:00:00,09/21/2012,DEM,11/08/2016,GEN,E,28.0,1,0
6,9,9,4305830,DUV,114831837,Schaap,Carole,32257,F,1942-02-04 00:00:00,11/28/2006,INT,11/04/2014,GEN,Y,75.0,0,0
7,10,10,2075069,CLA,102861065,DOXEY,VICKEY,32656,F,1961-08-20 00:00:00,08/28/2000,REP,11/06/2012,GEN,Y,56.0,0,0
8,11,11,206657,BAY,116352668,LOGAN,JESSICA,32405,F,1987-10-06 00:00:00,07/01/2008,REP,11/06/2012,GEN,Y,30.0,0,0
9,12,12,7439038,DUV,103580214,Thomas,Kim,32209,F,1960-04-09 00:00:00,07/31/2003,DEM,11/02/2010,GEN,Y,57.0,0,0
10,13,13,6210491,DUV,103737024,Zilla,Michael,32210,M,1976-12-06 00:00:00,12/29/1995,REP,11/08/2016,GEN,Y,40.0,1,0
11,15,15,6121393,DUV,103689734,Brooks,Stephanie,32209,F,1965-01-11 00:00:00,07/07/1983,DEM,11/04/2014,GEN,E,52.0,0,0
12,18,18,4137718,DES,103212920,Ridley,Charles,34266,M,1936-09-26 00:00:00,01/24/1976,DEM,11/04/2014,GEN,A,81.0,0,0
13,19,19,590042,BAY,100672916,MAPLES,RACHEL,32405,F,1977-02-24 00:00:00,02/20/1998,REP,11/08/2016,GEN,E,40.0,1,0
14,25,25,7937893,DUV,103313626,Kelly,Tiny,32219,U,1978-11-21 00:00:00,04/17/2003,DEM,11/08/2016,GEN,E,39.0,1,0
15,30,30,4375184,DUV,103607864,Walker,Bonnie,32218,F,1950-01-06 00:00:00,08/22/2003,REP,11/08/2016,GEN,E,67.0,1,0
16,32,32,6572362,DUV,103553305,DLUGOSZ,DEBRA,32246,F,1961-05-22 00:00:00,10/05/1992,REP,11/04/2008,GEN,Y,56.0,0,1
17,33,33,1913637,CLA,102809429,BETHEL,ALFRED,320735038,M,1948-05-08 00:00:00,05/11/1993,DEM,11/02/2010,GEN,E,69.0,0,0
18,37,37,2038748,CLA,102819585,SCIUMBATA,MELISSA,32073,F,1958-10-08 00:00:00,12/12/1995,NPA,11/04/2008,GEN,Y,59.0,0,1
19,39,39,3849066,CLL,116983070,Airoldi,Harold,34108,M,1940-08-21 00:00:00,10/08/2008,NPA,11/08/2016,GEN,A,77.0,1,0
20,40,40,2439249,CLA,118212648,RALEY,MONTGOMERY,32068,F,1992-07-08 00:00:00,06/17/2010,REP,11/04/2014,GEN,E,25.0,0,0
21,43,43,2534421,CLA,102846025,OLSON,MICHAEL,32003,M,1969-04-07 00:00:00,05/21/1987,REP,11/06/2012,GEN,E,48.0,0,0
22,45,45,2335245,CLA,102872524,TRAN,TUYET,32065,F,1964-03-25 00:00:00,11/26/2001,REP,11/02/2010,GEN,Y,53.0,0,0
23,48,48,2061410,CLA,102913142,PERKINS,COURTNEY,32043,F,1982-07-30 00:00:00,01/11/2005,REP,11/07/2006,GEN,N,35.0,0,0
24,49,49,4207205,DES,103223519,Banks,Alvin,34269,M,1932-08-17 00:00:00,05/19/1998,DEM,11/04/2014,GEN,E,85.0,0,0
25,52,52,772744,BAY,100685685,FREE,DONETA,32413,F,1959-12-09 00:00:00,03/15/2000,REP,11/04/2014,GEN,E,57.0,0,0
26,53,53,3858915,CLL,103062775,Riley,Christopher,34105,M,1964-09-23 00:00:00,09/14/2001,REP,11/02/2010,GEN,A,53.0,0,0
27,56,56,4272966,DIX,103237681,Endicott,Kathleen,32680,F,1951-06-02 00:00:00,10/04/2004,DEM,11/06/2012,GEN,Y,66.0,0,0
28,57,57,2470241,CLA,102892230,TORRES,JOSE,32003,M,1969-05-17 00:00:00,10/31/2003,REP,11/06/2012,GEN,A,48.0,0,0
29,61,61,4419959,DUV,103281151,Surles,Kathy,32216,F,1952-12-05 00:00:00,07/25/1976,REP,11/02/2010,GEN,E,64.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5116,9952,9952,5798638,DUV,103404206,Sherrod,Walter,322257246,M,1961-09-23 00:00:00,09/09/2005,DEM,11/04/2008,GEN,E,56.0,0,1
5117,9954,9954,4982624,DUV,117010840,Stevenson,Martha,32254,F,1956-03-27 00:00:00,10/04/2008,DEM,11/06/2012,GEN,A,61.0,0,0
5118,9956,9956,4176113,DES,103222372,Zipper,Kathryn,34266,F,1929-07-27 00:00:00,11/05/1996,DEM,11/04/2008,GEN,E,88.0,0,1
5119,9958,9958,5831868,DUV,103443630,LUCARELLI,TERENCE,32217,M,1951-12-29 00:00:00,04/27/2004,DEM,11/04/2014,GEN,E,65.0,0,0
5120,9959,9959,3843253,CLL,103057805,Gates,Clare,34114,F,1929-06-08 00:00:00,04/26/2001,REP,11/04/2014,GEN,A,88.0,0,0
5121,9960,9960,6805959,DUV,103395694,Gasparre,Mark,32216,M,1966-04-05 00:00:00,08/14/1997,NPA,11/04/2008,GEN,Y,51.0,0,1
5122,9961,9961,2713876,CLL,122701471,Rodriguez,Domingo,34120,M,1944-12-20 00:00:00,07/31/2015,DEM,11/08/2016,GEN,E,72.0,1,0
5123,9962,9962,7529612,DUV,103614979,Paraso,Adolfo,32246,M,1948-09-27 00:00:00,10/02/1986,REP,11/08/2016,GEN,Y,69.0,1,0
5124,9963,9963,370635,BAY,100643092,STERRETT,PAULA,32407,F,1967-03-30 00:00:00,10/20/1992,REP,11/07/2006,GEN,E,50.0,0,0
5125,9966,9966,5832495,DUV,103485379,Frost,Mary,32224,F,1938-01-03 00:00:00,06/17/2003,REP,11/04/2008,GEN,Y,79.0,0,1
5126,9967,9967,3323167,CLL,121733308,Delpo,Kayla,34120,F,1994-10-17 00:00:00,06/13/2014,INT,11/08/2016,GEN,Y,23.0,1,0
5127,9968,9968,7255266,DUV,103535798,Douglass,Mary,32218,F,1972-04-17 00:00:00,11/26/1998,DEM,11/07/2006,GEN,Y,45.0,0,0
5128,9969,9969,7831328,DUV,103392969,Huth,Sherian,32223,F,1950-03-11 00:00:00,10/05/1992,DEM,11/02/2010,GEN,Y,67.0,0,0
5129,9971,9971,3065852,CLL,103082525,Wood,V,34110,M,1920-09-19 00:00:00,11/04/2002,REP,11/06/2012,GEN,E,97.0,0,0
5130,9972,9972,3677451,CLL,103121131,GOODS,LYNN,34103,F,1951-08-10 00:00:00,10/04/2004,DEM,11/08/2016,GEN,E,66.0,1,0
5131,9973,9973,4359647,DUV,103431973,Clay,William,32258,M,1964-11-09 00:00:00,10/02/1998,REP,11/06/2012,GEN,Y,53.0,0,0
5132,9976,9976,6013364,DUV,114629338,Grubbs,Bradley,32277,M,1988-10-22 00:00:00,09/12/2006,REP,11/07/2006,GEN,A,29.0,0,0
5133,9977,9977,6743016,DUV,103295354,Jones,Carrie,32216,F,1939-07-24 00:00:00,06/01/1999,DEM,11/07/2006,GEN,N,78.0,0,0
5134,9978,9978,8152628,DUV,103720565,Bryan,Feng-Lu,32216,F,1965-07-20 00:00:00,10/10/2000,REP,11/04/2008,GEN,A,52.0,0,1
5135,9980,9980,3744572,CLL,114702249,Guerra,Max,34117,M,1958-06-14 00:00:00,10/05/2006,NPA,11/07/2006,GEN,E,59.0,0,0
5136,9984,9984,4179595,DES,111951071,James,Willie,34266,M,1954-11-03 00:00:00,10/31/2003,DEM,11/06/2012,GEN,Y,63.0,0,0
5137,9985,9985,133593,BAY,100608917,HIGDON,PATRICIA,32444,F,1936-08-26 00:00:00,04/07/1962,REP,11/04/2014,GEN,A,81.0,0,0
5138,9986,9986,1067836,CAL,102532655,Ethridge,Debra,32424,F,1961-01-06 00:00:00,10/04/2004,REP,11/02/2010,GEN,E,56.0,0,0
5139,9987,9987,2822700,CLL,116582642,Kowalski,Margaret,34109,F,1923-09-19 00:00:00,08/27/2008,DEM,11/08/2016,GEN,A,94.0,1,0
5140,9988,9988,6382679,DUV,103296082,Barton,Robert,32220,M,1960-11-16 00:00:00,10/03/1984,REP,11/04/2014,GEN,Y,57.0,0,0
5141,9990,9990,7887207,DUV,103426257,Schmidt,Lashanda,32219,F,1971-06-23 00:00:00,04/15/1995,REP,11/06/2012,GEN,Y,46.0,0,0
5142,9994,9994,3001732,CLL,103139979,Caruso,Helen,34119,F,1930-07-18 00:00:00,11/29/2005,NPA,11/02/2010,GEN,Y,87.0,0,0
5143,9995,9995,988823,BRA,100737757,Padgett,Deanna,32091,F,1971-05-14 00:00:00,08/07/2000,DEM,11/04/2008,GEN,Y,46.0,0,1
5144,9997,9997,410368,BAY,100688951,WIBBERLEY,JANA,32401,F,1972-10-09 00:00:00,08/07/2000,DEM,11/04/2008,GEN,Y,45.0,0,1
5145,9998,9998,1836694,CLA,102919286,DIAZ,MARIA,32003,F,1960-11-24 00:00:00,09/15/2005,DEM,11/02/2010,GEN,Y,57.0,0,0

# Additional EDA

In [95]:
# Add predictions to voter data
ethnicity_predictions = []
for name in list(df_voters['LAST_NAME']):
    ethnicity_predictions.append(classifier.classify(name))
    
ethnicity_predictions

['Jewish',
 'Jewish',
 'Jewish',
 'African',
 'African',
 'Hispanic',
 'Jewish',
 'Western European',
 'Western European',
 'Indian',
 'Eastern European',
 'Jewish',
 'Western European',
 'Eastern European',
 'Western European',
 'Jewish',
 'Hispanic',
 'Jewish',
 'Muslim/Arabic',
 'African',
 'Eastern European',
 'Jewish',
 'East Asian',
 'Jewish',
 'Eastern European',
 'East Asian',
 'Eastern European',
 'Western European',
 'Hispanic',
 'Jewish',
 'Hispanic',
 'East Asian',
 'Jewish',
 'Hispanic',
 'Western European',
 'Jewish',
 'Western European',
 'East Asian',
 'Western European',
 'Jewish',
 'Jewish',
 'Western European',
 'Western European',
 'Western European',
 'Jewish',
 'African',
 'Western European',
 'Jewish',
 'Western European',
 'Hispanic',
 'Western European',
 'Western European',
 'Hispanic',
 'Indian',
 'East Asian',
 'East Asian',
 'Eastern European',
 'Eastern European',
 'Hispanic',
 'Hispanic',
 'Western European',
 'Western European',
 'East Asian',
 'Hispanic',
 'Hispanic',
 'Western European',
 'Hispanic',
 'Jewish',
 'Jewish',
 'Hispanic',
 'Muslim/Arabic',
 'Eastern European',
 'Western European',
 'Eastern European',
 'Jewish',
 'Indian',
 'Jewish',
 'Western European',
 'Western European',
 'Western European',
 'Muslim/Arabic',
 'Western European',
 'African',
 'Jewish',
 'Jewish',
 'Western European',
 'Western European',
 'Western European',
 'East Asian',
 'Eastern European',
 'East Asian',
 'Jewish',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Jewish',
 'Jewish',
 'Eastern European',
 'Indian',
 'Western European',
 'Eastern European',
 'Jewish',
 'Western European',
 'Eastern European',
 'Western European',
 'Eastern European',
 'Western European',
 'Jewish',
 'Indian',
 'Jewish',
 'Eastern European',
 'Jewish',
 'Western European',
 'Hispanic',
 'Eastern European',
 'Western European',
 'Jewish',
 'East Asian',
 'Western European',
 'Western European',
 'Western European',
 'Indian',
 'Muslim/Arabic',
 'Hispanic',
 'Western European',
 'Hispanic',
 'Western European',
 'Jewish',
 'Jewish',
 'Indian',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Hispanic',
 'Muslim/Arabic',
 'Eastern European',
 'Jewish',
 'Western European',
 'Jewish',
 'Western European',
 'Hispanic',
 'Hispanic',
 'African',
 'Indian',
 'Indian',
 'Western European',
 'Jewish',
 'Western European',
 'Jewish',
 'Western European',
 'Jewish',
 'Western European',
 'Eastern European',
 'Jewish',
 'Jewish',
 'Hispanic',
 'Western European',
 'Hispanic',
 'Jewish',
 'Hispanic',
 'Western European',
 'Jewish',
 'Jewish',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Hispanic',
 'Hispanic',
 'Western European',
 'East Asian',
 'Western European',
 'Eastern European',
 'Hispanic',
 'Hispanic',
 'Muslim/Arabic',
 'Muslim/Arabic',
 'Western European',
 'Indian',
 'Jewish',
 'Eastern European',
 'Jewish',
 'Western European',
 'East Asian',
 'Eastern European',
 'East Asian',
 'Western European',
 'Western European',
 'Western European',
 'Jewish',
 'Jewish',
 'East Asian',
 'Western European',
 'Muslim/Arabic',
 'Jewish',
 'Jewish',
 'Eastern European',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Jewish',
 'Western European',
 'East Asian',
 'Indian',
 'Western European',
 'Western European',
 'Jewish',
 'Hispanic',
 'Eastern European',
 'Western European',
 'Hispanic',
 'Western European',
 'Indian',
 'Muslim/Arabic',
 'Jewish',
 'Hispanic',
 'Indian',
 'Jewish',
 'Indian',
 'Indian',
 'East Asian',
 'Hispanic',
 'Hispanic',
 'Jewish',
 'Hispanic',
 'Western European',
 'Western European',
 'Hispanic',
 'Western European',
 'Western European',
 'Muslim/Arabic',
 'African',
 'Western European',
 'Hispanic',
 'Jewish',
 'Eastern European',
 'Hispanic',
 'Western European',
 'Jewish',
 'Western European',
 'East Asian',
 'Hispanic',
 'Western European',
 'Indian',
 'Western European',
 'Jewish',
 'Eastern European',
 'Jewish',
 'Western European',
 'Jewish',
 'Eastern European',
 'Western European',
 'African',
 'Indian',
 'Muslim/Arabic',
 'Western European',
 'Indian',
 'African',
 'East Asian',
 'Muslim/Arabic',
 'East Asian',
 'Eastern European',
 'Jewish',
 'Muslim/Arabic',
 'Western European',
 'Western European',
 'East Asian',
 'Western European',
 'Western European',
 'Western European',
 'Indian',
 'Jewish',
 'Western European',
 'Western European',
 'Western European',
 'Muslim/Arabic',
 'Hispanic',
 'Western European',
 'Western European',
 'Eastern European',
 'Western European',
 'Western European',
 'Muslim/Arabic',
 'Hispanic',
 'Western European',
 'East Asian',
 'Jewish',
 'Hispanic',
 'Jewish',
 'Western European',
 'Eastern European',
 'Muslim/Arabic',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Indian',
 'Western European',
 'Eastern European',
 'Western European',
 'Hispanic',
 'Jewish',
 'Jewish',
 'Indian',
 'Western European',
 'Western European',
 'Hispanic',
 'Jewish',
 'Western European',
 'Western European',
 'Western European',
 'Jewish',
 'Western European',
 'Jewish',
 'Muslim/Arabic',
 'Indian',
 'Hispanic',
 'Eastern European',
 'Indian',
 'Muslim/Arabic',
 'Jewish',
 'Eastern European',
 'Jewish',
 'Hispanic',
 'Jewish',
 'Western European',
 'Hispanic',
 'East Asian',
 'Jewish',
 'Western European',
 'Western European',
 'East Asian',
 'Hispanic',
 'Jewish',
 'Western European',
 'Hispanic',
 'Western European',
 'Western European',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Eastern European',
 'African',
 'Eastern European',
 'Western European',
 'Jewish',
 'Western European',
 'Hispanic',
 'Eastern European',
 'Western European',
 'Western European',
 'Jewish',
 'Hispanic',
 'Western European',
 'Western European',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Hispanic',
 'Western European',
 'East Asian',
 'Hispanic',
 'Hispanic',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Indian',
 'Jewish',
 'Western European',
 'Western European',
 'Indian',
 'Hispanic',
 'Eastern European',
 'Eastern European',
 'Jewish',
 'Jewish',
 'Eastern European',
 'Western European',
 'Hispanic',
 'Jewish',
 'Muslim/Arabic',
 'Western European',
 'Western European',
 'Western European',
 'Jewish',
 'Western European',
 'Muslim/Arabic',
 'Eastern European',
 'East Asian',
 'East Asian',
 'Eastern European',
 'Western European',
 'Jewish',
 'East Asian',
 'Western European',
 'Muslim/Arabic',
 'Western European',
 'Jewish',
 'East Asian',
 'Muslim/Arabic',
 'Indian',
 'East Asian',
 'Eastern European',
 'Western European',
 'Western European',
 'Hispanic',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Hispanic',
 'Hispanic',
 'Jewish',
 'Jewish',
 'Muslim/Arabic',
 'Eastern European',
 'Western European',
 'Western European',
 'Jewish',
 'Jewish',
 'Muslim/Arabic',
 'Muslim/Arabic',
 'Indian',
 'East Asian',
 'Western European',
 'East Asian',
 'Western European',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Western European',
 'Eastern European',
 'Western European',
 'Indian',
 'Western European',
 'Western European',
 'Hispanic',
 'Hispanic',
 'Jewish',
 'Western European',
 'Jewish',
 'Jewish',
 'Jewish',
 'Hispanic',
 'Jewish',
 'Eastern European',
 'Western European',
 'Indian',
 'Western European',
 'Hispanic',
 'East Asian',
 'Muslim/Arabic',
 'Western European',
 'East Asian',
 'Indian',
 'Eastern European',
 'Eastern European',
 'Western European',
 'Indian',
 'Jewish',
 'East Asian',
 'Western European',
 'Jewish',
 'Western European',
 'Indian',
 'Hispanic',
 'Indian',
 'Western European',
 'Western European',
 'Hispanic',
 'Jewish',
 'Western European',
 'Indian',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Jewish',
 'African',
 'Muslim/Arabic',
 'Western European',
 'East Asian',
 'Eastern European',
 'Hispanic',
 'Western European',
 'Western European',
 'Muslim/Arabic',
 'Eastern European',
 'Indian',
 'Western European',
 'Eastern European',
 'Hispanic',
 'Western European',
 'Jewish',
 'Jewish',
 'Muslim/Arabic',
 'Jewish',
 'African',
 'Jewish',
 'Eastern European',
 'East Asian',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Indian',
 'Indian',
 'Jewish',
 'Western European',
 'Jewish',
 'Muslim/Arabic',
 'Jewish',
 'Jewish',
 'Jewish',
 'Western European',
 'Jewish',
 'Indian',
 'Indian',
 'African',
 'Eastern European',
 'Jewish',
 'Jewish',
 'Hispanic',
 'Western European',
 'Eastern European',
 'Eastern European',
 'African',
 'Jewish',
 'Western European',
 'Indian',
 'Eastern European',
 'Western European',
 'Western European',
 'Western European',
 'Hispanic',
 'East Asian',
 'Western European',
 'Western European',
 'Eastern European',
 'Hispanic',
 'Western European',
 'East Asian',
 'Jewish',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Jewish',
 'Western European',
 'East Asian',
 'Western European',
 'Jewish',
 'Hispanic',
 'Western European',
 'Western European',
 'Hispanic',
 'Jewish',
 'Hispanic',
 'Western European',
 'Jewish',
 'Hispanic',
 'Eastern European',
 'Jewish',
 'Hispanic',
 'Hispanic',
 'Hispanic',
 'Hispanic',
 'Indian',
 'Western European',
 'East Asian',
 'Jewish',
 'Eastern European',
 'Western European',
 'Jewish',
 'Indian',
 'Western European',
 'Jewish',
 'East Asian',
 'Western European',
 'Indian',
 'Jewish',
 'Hispanic',
 'Hispanic',
 'Western European',
 'Indian',
 'Western European',
 'Western European',
 'Western European',
 'Hispanic',
 'Western European',
 'East Asian',
 'Jewish',
 'Western European',
 'Muslim/Arabic',
 'Hispanic',
 'Western European',
 'Western European',
 'Eastern European',
 'Western European',
 'Indian',
 'East Asian',
 'Western European',
 'Jewish',
 'Eastern European',
 'Indian',
 'Hispanic',
 'Hispanic',
 'Eastern European',
 'Western European',
 'Western European',
 'Hispanic',
 'Jewish',
 'Jewish',
 'Western European',
 'Hispanic',
 'Muslim/Arabic',
 'Muslim/Arabic',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'East Asian',
 'Western European',
 'Jewish',
 'Indian',
 'Hispanic',
 'Western European',
 'Jewish',
 'Jewish',
 'Eastern European',
 'Hispanic',
 'Western European',
 'Western European',
 'Western European',
 'Eastern European',
 'Jewish',
 'East Asian',
 'Western European',
 'Hispanic',
 'African',
 'Western European',
 'Hispanic',
 'Jewish',
 'Eastern European',
 'Indian',
 'Eastern European',
 'Hispanic',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Indian',
 'Hispanic',
 'Eastern European',
 'Muslim/Arabic',
 'Western European',
 'Indian',
 'Western European',
 'Muslim/Arabic',
 'Hispanic',
 'East Asian',
 'Western European',
 'Western European',
 'Western European',
 'African',
 'Western European',
 'East Asian',
 'Western European',
 'Jewish',
 'Jewish',
 'Western European',
 'Western European',
 'Eastern European',
 'Jewish',
 'Jewish',
 'Western European',
 'Hispanic',
 'Western European',
 'Hispanic',
 'Western European',
 'Jewish',
 'Eastern European',
 'Western European',
 'Eastern European',
 'Jewish',
 'East Asian',
 'Western European',
 'Western European',
 'Hispanic',
 'Eastern European',
 'Jewish',
 'Western European',
 'Eastern European',
 'Muslim/Arabic',
 'Eastern European',
 'Western European',
 'Hispanic',
 'Eastern European',
 'Western European',
 'Eastern European',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Jewish',
 'African',
 'Jewish',
 'Hispanic',
 'Hispanic',
 'Jewish',
 'Western European',
 'Hispanic',
 'Jewish',
 'Jewish',
 'Western European',
 'Eastern European',
 'Indian',
 'Western European',
 'Western European',
 'African',
 'Muslim/Arabic',
 'East Asian',
 'Indian',
 'Western European',
 'Western European',
 'Western European',
 'Jewish',
 'Muslim/Arabic',
 'Hispanic',
 'Hispanic',
 'Jewish',
 'Eastern European',
 'Jewish',
 'Hispanic',
 'Hispanic',
 'Hispanic',
 'Indian',
 'Western European',
 'Eastern European',
 'Eastern European',
 'Hispanic',
 'Indian',
 'Western European',
 'Western European',
 'Western European',
 'Muslim/Arabic',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Jewish',
 'Jewish',
 'Eastern European',
 'Western European',
 'Western European',
 'Eastern European',
 'Western European',
 'Jewish',
 'Western European',
 'Eastern European',
 'Jewish',
 'Western European',
 'Jewish',
 'Hispanic',
 'Western European',
 'Western European',
 'Hispanic',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Eastern European',
 'Hispanic',
 'Western European',
 'Western European',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Western European',
 'Hispanic',
 'Western European',
 'Western European',
 'Indian',
 'Western European',
 'Western European',
 'Indian',
 'Jewish',
 'Indian',
 'East Asian',
 'Muslim/Arabic',
 'East Asian',
 'Jewish',
 'Western European',
 'Western European',
 'East Asian',
 'East Asian',
 'Jewish',
 'Indian',
 'East Asian',
 'Hispanic',
 'Western European',
 'Western European',
 'Hispanic',
 'Indian',
 'Western European',
 'Western European',
 'Eastern European',
 'Eastern European',
 'Western European',
 'Jewish',
 'Muslim/Arabic',
 'Hispanic',
 'Eastern European',
 'Jewish',
 'Eastern European',
 'Indian',
 'Jewish',
 'Jewish',
 'Jewish',
 'Western European',
 'Muslim/Arabic',
 'Eastern European',
 'Western European',
 'Western European',
 'Indian',
 'Indian',
 'Western European',
 'Indian',
 'Jewish',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Hispanic',
 'Muslim/Arabic',
 'Muslim/Arabic',
 'Hispanic',
 'Eastern European',
 'Eastern European',
 'Western European',
 'Western European',
 'Indian',
 'Western European',
 'Hispanic',
 'Muslim/Arabic',
 'Western European',
 'Eastern European',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 'Hispanic',
 'East Asian',
 'Hispanic',
 'Jewish',
 'Western European',
 'Western European',
 'Jewish',
 'Hispanic',
 'Muslim/Arabic',
 'Eastern European',
 'Jewish',
 'Western European',
 'Western European',
 'Hispanic',
 'Western European',
 'Indian',
 'Jewish',
 'Hispanic',
 'Jewish',
 'Eastern European',
 'Western European',
 'African',
 'Western European',
 'Western European',
 'Western European',
 'Jewish',
 'East Asian',
 'Muslim/Arabic',
 'Western European',
 'Muslim/Arabic',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Indian',
 'Jewish',
 'Western European',
 'Western European',
 'East Asian',
 'Jewish',
 'East Asian',
 'Jewish',
 'Jewish',
 'East Asian',
 'Jewish',
 'Western European',
 'Western European',
 'Indian',
 'Eastern European',
 'Jewish',
 'Western European',
 'Jewish',
 'Western European',
 'Indian',
 'Western European',
 'Western European',
 'Indian',
 'Eastern European',
 'Western European',
 'Western European',
 'African',
 'East Asian',
 'Western European',
 'Western European',
 'Hispanic',
 'Western European',
 'East Asian',
 'Hispanic',
 'African',
 'Indian',
 'Western European',
 'Western European',
 'East Asian',
 'Western European',
 'Eastern European',
 'Jewish',
 'Western European',
 'Hispanic',
 'Western European',
 'Jewish',
 'Western European',
 'Jewish',
 'Western European',
 'Hispanic',
 'Muslim/Arabic',
 'Muslim/Arabic',
 'Jewish',
 'Jewish',
 'Western European',
 'Eastern European',
 'Hispanic',
 'Jewish',
 'Muslim/Arabic',
 'Jewish',
 'Hispanic',
 'Indian',
 'Hispanic',
 'Hispanic',
 'Western European',
 'East Asian',
 'Muslim/Arabic',
 'East Asian',
 'Western European',
 'Western European',
 'Jewish',
 'East Asian',
 'Hispanic',
 'Indian',
 'Muslim/Arabic',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Hispanic',
 'Western European',
 'Jewish',
 'Western European',
 'Western European',
 'Western European',
 'African',
 'Muslim/Arabic',
 'East Asian',
 'Hispanic',
 'Hispanic',
 'Jewish',
 'Western European',
 'Muslim/Arabic',
 'Western European',
 'Western European',
 'Western European',
 'Western European',
 ...]

In [96]:
df_voters['Ethnicity Prediction'] = ethnicity_predictions

In [100]:
df_voters.sample(15)[['LAST_NAME', 'Ethnicity Prediction']]

      LAST_NAME Ethnicity Prediction
399    Phillips     Western European
1654      Burch     Eastern European
2752      Smith     Western European
2783    SAVISKY               Jewish
4068     Arroyo             Hispanic
3729    Whatley     Eastern European
5055    VAUGHAN     Western European
1226  Kerlicker               Jewish
362      Palmer               Jewish
3345      Rioux     Western European
3221     Kersch               Jewish
4043       HILL               Jewish
1512     Powell     Western European
2612   Melville             Hispanic
1343     Norman     Western European