# Ethnicity Classifier 2.0

## Our story:

We hypothesized that people's voting patterns may be varied along ethnic lines. In voter turnout literature, scientists have examined that the ethnic composition of neighborhoods (as available from U.S. Census data) and have found that certain ethnicities were more or less likely to vote (Chong & Kim, 2006).

We want to test this conclusion with a different approach. Instead of looking at neighborhoods as a whole, we want to look at individuals. Neither U.S. Census Data nor Voter Records provide ethnicity data for individuals (although Voter Records provide a broad classification for "race", which is less specific than ethnicity). 

For each person, we will impute their ethnicity using a classifying algorithm that makes use of information within the Voter Records, and then we will compare the voting behaviors of different ethnic groups.

We hope to take this additional imputed piece of data, and add it to our larger "vote-turnout" prediction model to (hopefully) increase its accuracy.


## Our approach:

** Model: ** We used a *Multinomial Logistic Regression* because:
1. Our decision is categorical (non-binary)
2. We can use the substrings within names as features, and let the classifier assign coefficients to them as they get correlated to ethnicities
3. (Most Important) It allows us to output a score for each prediction, so we can tweak the threshold at which we go ahead and make a prediction. 

** Name-Ethnicity Datasets: ** We experiemented with two name-ethnicity datasets:
1. A list of baby names found on FamilyEducation.com
2. Names scraped from wikipedia that had ethnicity meta-data associated with them, open-sourced by (Ambekar, et al., 2009)

** Test Set: ** Here we had to get creative. Because we didn't have actual ethnicities attached to the Voting Records, we needed to test externally. To make our test set, we:
1. Took 10% of the total names in the wikipedia name-ethnicity dataset, and set them aside for testing
2. Out of that dataset, we eliminated the names that appeared already in the training set. This makes our test set actually more stringent than the Voter Records set. This was necesary because: many of the names in the Voter Records were names that did not appear in our training set, so we didn't want to have an artificially high accuracy score in case names in the training set had a high propensity to re-appear within the training/test set.
3. Used over-sampling to balance the test set.

** Training Set: ** The remaining 90% names went to train our model. We over-sampled / under-sampled certain ethnicities to balance the training sets. We did not eliminate the repetition of names, because their frequencies are important because they correlate to real world frequencies.




### Ethnicity Classifier 1.0: Naive (Baseline) Model

- **Trained on**: Lists of Baby Names.
- **Classification decision**: Whichever ethnicity has the highest *proba* score. A decision is always made.

### Ethnicity Classifier 1.1: New Training Data

- **Trained on**: **Wikipedia-scraped name-ethnicity pairs.**
- **Classification decision**: Whichever ethnicity has the highest *proba* score. A decision is always made.

### Ethnicity Classifier 2.0: Race Used as an Input

- **Trained on**: Wikipedia-scraped name-ethnicity pairs **& Race**.
- **Classification decision**: Whichever ethnicity has the highest *proba* score. A decision is always made.

### Ethnicity Classifier 2.1: Abstain option added

- **Trained on**: Wikipedia-scraped name-ethnicity pairs & Race.
- **Classification decision**: Only happens if *proba* exceeds a certain level, else we abstain from making a decision.



Chong, D., & Kim, D. (2006). The experiences and effects of economic status among racial and ethnic minorities. American Political Science Review, 100(3), 335â€“351.

Ambekar, A., Ward, C., Mohammed, J., Male, S., & Skiena, S. (2009, June). Name-ethnicity classification from open sources. In Proceedings of the 15th ACM SIGKDD international conference on Knowledge Discovery and Data Mining (pp. 49-58). ACM.

In [1]:
from ethnicityguesser.NLTKMaxentEthnicityClassifier import NLTKMaxentEthnicityClassifier as mxec
from os import walk
import pandas as pd
import csv
import pickle
import numpy as np

## 1. Import & Clean Name Training/Testing Data

Let's import and clean our name-ethnicity training sets.
- List of Baby Names by Ethnicity
- Name-ethnicity pairs scraped from Wikipedia

Let's start with baby names:

In [2]:
# find names of files
f = []
for (dirpath, dirnames, filenames) in walk("ethnicityguesser/pickled_names"):
    f.extend(filenames)
    break

# list types of ethnicities
ethnicities_baby = []
for each in f:
    ethnicities_baby.append(each.partition('.')[0])

# pair type of ethnicity to its names in a dict
eth_dict = {}
for ethnicity in ethnicities_baby:
    with open('ethnicityguesser/pickled_names/'+ethnicity+'.pkl', 'rb') as filename:
        names = pickle.load(filename)
    eth_dict[ethnicity] = names
    
ethnicities = ethnicities_baby

Here are the ethnicities we have:

In [3]:
ethnicities_baby

['chinese',
 'vietnamese',
 'irish',
 'danish',
 'french',
 'russian',
 'japanese',
 'german',
 'czech',
 'arabic',
 'ukranian',
 'swedish',
 'spanish',
 'african',
 'swiss',
 'korean',
 'jewish',
 'greek',
 'italian',
 'slavic',
 'indian',
 'muslim',
 'portugese']

Now lets package these into a nice dataframe

In [4]:
## make a datafrome of names and true ethnicities

super_list_names = []
super_list_ethnicities = []

for ethnicity in ethnicities:
    name_list = eth_dict[ethnicity][0]
    eth_list = []
    for name in name_list:
        eth_list.append(ethnicity)
    super_list_names = super_list_names + name_list
    super_list_ethnicities = super_list_ethnicities + eth_list
    
df_baby = pd.DataFrame(
            {'Name': super_list_names,
             'True Ethnicity': super_list_ethnicities
            })

Look's good:

In [5]:
df_baby.sample(10)

            Name True Ethnicity
5433     Thebeau         french
16914     Anania          greek
18489    Gokhale         indian
1227    Jonassen         danish
14420     Ditzah         jewish
4358      Masson         french
16491  Tabachnik         jewish
20145   Santiago      portugese
18301     Zachow         slavic
17896      Righi        italian

Now let's import and clean the wikipedia name data a bit.

In [6]:
df_wiki_raw = pd.read_csv('wikipedia_data_scraped/wiki_name_race.csv')
df_wiki_raw.sample(5)

,name_last,name_suffix,name_first,name_middle,race
98023,paul,NaN,lyn,NaN,"GreaterEuropean,British"
39842,okumu,NaN,sibi,NaN,"GreaterAfrican,Africans"
58182,iv,NaN,honorÃ©,NaN,"GreaterEuropean,WestEuropean,French"
131755,rao,NaN,rao,gopal,"Asian,IndianSubContinent"
96192,furphy,NaN,ken,NaN,"GreaterEuropean,British"

Yep. This is going to need some cleaning. Let's do this by:
- Creating a new row for each name that is present (first, middle, last). We'll assume for not that the distinction is not important.
- For ethnicity, let's only use the most specific ethnicity available to us (e.g. Italian instead of WestEuropean)

In [7]:
len(df_wiki_raw)

148275

In [8]:
super_list_names = []
super_list_ethnicities = []

# clean names, simplify "ethnicity" field to just most specific one
for row in range(len(df_wiki_raw)):
    # filter valid first names
    if type(df_wiki_raw.iloc[row].name_first) == str and len(df_wiki_raw.iloc[row].name_first) > 2:
        super_list_names.append(df_wiki_raw.iloc[row].name_first)
        super_list_ethnicities.append(df_wiki_raw.iloc[row].race.split(',')[-1])
    # filter valid middle names
    if type(df_wiki_raw.iloc[row].name_middle) == str and len(df_wiki_raw.iloc[row].name_middle) > 2:
        super_list_names.append(df_wiki_raw.iloc[row].name_middle)
        super_list_ethnicities.append(df_wiki_raw.iloc[row].race.split(',')[-1])
    # filter valid last names
    if type(df_wiki_raw.iloc[row].name_last) == str and len(df_wiki_raw.iloc[row].name_last) > 2:
        super_list_names.append(df_wiki_raw.iloc[row].name_last)
        super_list_ethnicities.append(df_wiki_raw.iloc[row].race.split(',')[-1])

# throw it into a dataframe
df_wiki = pd.DataFrame(
            {'Name': super_list_names,
             'True Ethnicity': super_list_ethnicities
            })

In [9]:
df_wiki.sample(20)

                  Name      True Ethnicity
256259           abidi  IndianSubContinent
206431         elmsley             British
18151         muhammad              Muslim
252247            arun  IndianSubContinent
195046          hunter             British
104580        kuramoto            Japanese
244159             fan           EastAsian
72702       weinberger              Jewish
154685          andrew             British
169829          harley             British
279857     sinimberghi             Italian
21087   bin laden tape              Muslim
19056              nil              Muslim
241353      michitsura           EastAsian
256468          d'cruz  IndianSubContinent
275894  duchy of savoy             Italian
215670        fanshawe             British
215872           simon             British
103052       hiratsuka            Japanese
60994          azaziah              Jewish

In [10]:
df_wiki.describe()

          Name True Ethnicity
count   295895         295895
unique   97507             13
top       john        British
freq      2910          88353

Looks fine. Now let's standardize the ethnicity categories output in the two datasets.

In [11]:
print "Baby:", ethnicities_baby

Baby: ['chinese', 'vietnamese', 'irish', 'danish', 'french', 'russian', 'japanese', 'german', 'czech', 'arabic', 'ukranian', 'swedish', 'spanish', 'african', 'swiss', 'korean', 'jewish', 'greek', 'italian', 'slavic', 'indian', 'muslim', 'portugese']

In [12]:
ethnicities_wiki = df_wiki["True Ethnicity"].unique()
print "Baby Names:", ethnicities_baby
print "Wiki:", ethnicities_wiki

Baby Names: ['chinese', 'vietnamese', 'irish', 'danish', 'french', 'russian', 'japanese', 'german', 'czech', 'arabic', 'ukranian', 'swedish', 'spanish', 'african', 'swiss', 'korean', 'jewish', 'greek', 'italian', 'slavic', 'indian', 'muslim', 'portugese']
Wiki: ['Germanic' 'Muslim' 'Nordic' 'Hispanic' 'Jewish' 'Africans' 'Japanese'
 'French' 'EastEuropean' 'British' 'EastAsian' 'IndianSubContinent'
 'Italian']

Now let's standardize the ethnicities between our two datasets (the baby names dataset has ten more ethnicity categories than the Wikipedia dataset, 23 and 13 respectively):

In [13]:
## standardize & consolidated ethnicities
# format = c_eth["consolidated"] = [[' eth from baby names'],['eth from wiki']]

c_eth = {}

c_eth["East European"] = ['russian','ukranian','czech','slavic', 'greek', # baby names
                          'EastEuropean'] # wiki names

c_eth['West European'] = ['italian','irish','danish','french', 'swedish','german','swiss',
                          'Nordic','British', 'Germanic', 'French', 'Italian'] 

c_eth['Muslim'] = ['muslim', 'arabic',
                   'Muslim']

c_eth['East Asian'] = ['chinese','japanese','vietnamese','korean',
                       'EastAsian', 'Japanese']

c_eth['Hispanic'] = ['spanish','portugese',
                     'Hispanic']

c_eth['Jewish'] = ['jewish','Jewish']

c_eth['Indian'] = ['indian','IndianSubContinent']

c_eth['Continental African'] = ['african','Africans']

In [14]:
## transform datasets
def standardizeEth(df):
    names = list(df['Name'])
    org_eth = list(df['True Ethnicity'])    
    standard_eth = []
    for ethnicity in org_eth:
        # search ethnicity dict
        for c in c_eth:
            # if found
            if ethnicity in c_eth[c]:
                # then add to master list
                standard_eth.append(c)
    print len(names), len(standard_eth), len(org_eth)
    df_new = pd.DataFrame(
            {'Name': names,
             'True Ethnicity': org_eth,
             'Standardized Ethnicity': standard_eth
            })
    return df_new

df_baby_standard = standardizeEth(df_baby)

df_wiki_standard = standardizeEth(df_wiki)

20245 20245 20245
295895 295895 295895

In [15]:
df_wiki_standard.sample(5)

             Name Standardized Ethnicity True Ethnicity
177607     davies          West European        British
63333        rowe                 Jewish         Jewish
2108      roesler          West European       Germanic
140517  patrushev          East European   EastEuropean
13045      valero                 Muslim         Muslim

Finally, nice data that we can use. Let's do one last step and balance the datasets.

In [16]:
## Balance Wiki

df_wiki_standard['True Ethnicity'].value_counts()

British               88353
French                27566
Italian               26711
Hispanic              24469
Jewish                22406
EastEuropean          18311
IndianSubContinent    17988
Japanese              15906
Muslim                14340
EastAsian             11459
Nordic                10927
Germanic               8999
Africans               8460
Name: True Ethnicity, dtype: int64

In [17]:
c_eth[c_eth.keys()[0]]

['spanish', 'portugese', 'Hispanic']

In [18]:
df_wiki_balanced = pd.DataFrame(columns=['Name', 'Standardized Ethnicity','True Ethnicity'])

##  balancing #1 - balance by True Ethnicity
for eth in ethnicities_wiki:
    # sample maximum amount from each(8460 - limit because of Africans)
    sample_df = df_wiki_standard[df_wiki_standard['True Ethnicity']==eth].sample(8460)
    df_wiki_balanced = pd.concat([df_wiki_balanced,sample_df])
    
## balancing #2 - balance by Standardized Eth, with equal numbers of True Eth in each group
df_wiki_b = pd.DataFrame(columns=['Name', 'Standardized Ethnicity','True Ethnicity'])

for eth in c_eth.keys():
    sample_df = df_wiki_balanced[df_wiki_balanced['Standardized Ethnicity']==eth].sample(8460)
    df_wiki_b = pd.concat([df_wiki_b,sample_df])

Let's make sure the proportions make sense.

In [19]:
df_wiki_b['Standardized Ethnicity'].value_counts()

West European          8460
East Asian             8460
Muslim                 8460
Indian                 8460
East European          8460
Continental African    8460
Jewish                 8460
Hispanic               8460
Name: Standardized Ethnicity, dtype: int64

In [20]:
df_wiki_b['True Ethnicity'].value_counts()

Muslim                8460
Africans              8460
Jewish                8460
Hispanic              8460
IndianSubContinent    8460
EastEuropean          8460
EastAsian             4258
Japanese              4202
British               1735
Germanic              1713
Nordic                1702
French                1659
Italian               1651
Name: True Ethnicity, dtype: int64

Looks good, lets finish this up by splitting into test/training (80/20).

In [21]:
## Split into Training and Test
msk = np.random.rand(len(df_wiki_b)) < 0.8
train_df_w = df_wiki_b[msk]
test_df_w = df_wiki_b[~msk]

print "Total Sample (n)", len (df_wiki_b)
print "Test Sample (test n)", len(test_df_w)
print "Train Sample (train n)", len(train_df_w)

Total Sample (n) 67680
Test Sample (test n) 13616
Train Sample (train n) 54064

Let's repeat for baby names df.

In [22]:
df_baby_standard['True Ethnicity'].value_counts()

french        4143
jewish        3076
spanish       2366
czech         1406
swedish       1158
portugese      834
swiss          774
german         723
italian        711
danish         656
indian         580
japanese       566
muslim         525
greek          429
chinese        426
ukranian       409
irish          318
african        300
slavic         258
russian        181
korean         169
vietnamese     129
arabic         108
Name: True Ethnicity, dtype: int64

Some

In [23]:
for each in c_eth:
    print each

Hispanic
Jewish
East Asian
Muslim
West European
East European
Indian
Continental African

## Train Model

In [32]:
## Package DF into training token

def makeTokens(ethnicities, train_df):
    train_tokens = []
    for ethnicity in ethnicities:
        new_tokens = (list(train_df[train_df['Standardized Ethnicity'] == ethnicity]['Name']), ethnicity)
        train_tokens.append(new_tokens)
    return train_tokens

wiki_tokens = makeTokens(c_eth, train_df_w)


# (Tokens must be a list of ([list of names], 'ethnicity') pairs.)

In [33]:
## Train Classifier (beware, this takes time)

##classifier = mxec(wiki_tokens)
##classifier.train()

In [34]:
## White
white_tokens = makeTokens(['East European', 'West European', 'Jewish', 'Muslim'], train_df_w)
white_classifier = mxec(white_tokens)
white_classifier.train()

  ==> Training (100 iterations)

      Iteration    Log Likelihood    Accuracy
      ---------------------------------------
             1          -1.38629        0.250
             2          -0.89420        0.786
             3          -0.70446        0.805
             4          -0.60567        0.821
             5          -0.54320        0.835
             6          -0.49901        0.846
             7          -0.46546        0.855
             8          -0.43875        0.861
             9          -0.41676        0.867
            10          -0.39821        0.871
            11          -0.38226        0.875
            12          -0.36835        0.879
            13          -0.35606        0.881
            14          -0.34511        0.884
            15          -0.33526        0.886
            16          -0.32636        0.887
            17          -0.31825        0.889
            18          -0.31084        0.890
            19          -0.30403        0.891
            20          -0.29775        0.892
            21          -0.29194        0.893
            22          -0.28654        0.894
            23          -0.28151        0.895
            24          -0.27682        0.895
            25          -0.27242        0.896
            26          -0.26830        0.896
            27          -0.26443        0.897
            28          -0.26077        0.897
            29          -0.25733        0.898
            30          -0.25407        0.898
            31          -0.25099        0.898
            32          -0.24807        0.898
            33          -0.24529        0.899
            34          -0.24265        0.899
            35          -0.24014        0.899
            36          -0.23775        0.899
            37          -0.23546        0.899
            38          -0.23328        0.899
            39          -0.23119        0.900
            40          -0.22919        0.900
            41          -0.22728        0.900
            42          -0.22544        0.900
            43          -0.22368        0.900
            44          -0.22199        0.900
            45          -0.22036        0.900
            46          -0.21880        0.900
            47          -0.21729        0.900
            48          -0.21584        0.900
            49          -0.21444        0.900
            50          -0.21309        0.900
            51          -0.21179        0.900
            52          -0.21053        0.900
            53          -0.20931        0.900
            54          -0.20814        0.900
            55          -0.20700        0.900
            56          -0.20590        0.900
            57          -0.20483        0.900
            58          -0.20379        0.900
            59          -0.20279        0.900
            60          -0.20182        0.900
            61          -0.20088        0.900
            62          -0.19996        0.900
            63          -0.19907        0.900
            64          -0.19820        0.900
            65          -0.19736        0.900
            66          -0.19655        0.900
            67          -0.19575        0.900
            68          -0.19498        0.900
            69          -0.19422        0.900
            70          -0.19349        0.900
            71          -0.19277        0.900
            72          -0.19208        0.900
            73          -0.19140        0.900
            74          -0.19073        0.900
            75          -0.19009        0.900
            76          -0.18946        0.900
            77          -0.18884        0.900
            78          -0.18824        0.900
            79          -0.18766        0.900
            80          -0.18708        0.900
            81          -0.18652        0.900
            82          -0.18597        0.900
            83          -0.18544        0.900
            84          -0.18492        0.900
            85          -0.18440        0.900
            86          -0.18390        0.900
            87          -0.18341        0.900
            88          -0.18293        0.900
            89          -0.18246        0.900
            90          -0.18200        0.900
            91          -0.18155        0.900
            92          -0.18111        0.900
            93          -0.18068        0.900
            94          -0.18026        0.900
            95          -0.17984        0.900
            96          -0.17943        0.900
            97          -0.17903        0.900
            98          -0.17864        0.900
            99          -0.17826        0.900
         Final          -0.17788        0.900

In [37]:
## Black
black_tokens = makeTokens(['West European', 'Continental African', 'Muslim'], train_df_w)
black_classifier = mxec(black_tokens)
black_classifier.train()

  ==> Training (100 iterations)

      Iteration    Log Likelihood    Accuracy
      ---------------------------------------
             1          -1.09861        0.333
             2          -0.71315        0.818
             3          -0.56806        0.837
             4          -0.49074        0.852
             5          -0.44072        0.865
             6          -0.40470        0.875
             7          -0.37699        0.883
             8          -0.35472        0.891
             9          -0.33625        0.896
            10          -0.32060        0.901
            11          -0.30709        0.905
            12          -0.29527        0.909
            13          -0.28482        0.911
            14          -0.27549        0.913
            15          -0.26710        0.915
            16          -0.25950        0.917
            17          -0.25259        0.918
            18          -0.24626        0.919
            19          -0.24044        0.920
            20          -0.23508        0.921
            21          -0.23011        0.922
            22          -0.22550        0.922
            23          -0.22121        0.923
            24          -0.21720        0.923
            25          -0.21345        0.924
            26          -0.20993        0.924
            27          -0.20662        0.924
            28          -0.20350        0.925
            29          -0.20056        0.925
            30          -0.19778        0.925
            31          -0.19515        0.925
            32          -0.19266        0.925
            33          -0.19029        0.926
            34          -0.18804        0.926
            35          -0.18589        0.926
            36          -0.18385        0.926
            37          -0.18191        0.926
            38          -0.18004        0.926
            39          -0.17827        0.926
            40          -0.17656        0.926
            41          -0.17493        0.926
            42          -0.17337        0.926
            43          -0.17187        0.926
            44          -0.17043        0.926
            45          -0.16904        0.926
            46          -0.16771        0.926
            47          -0.16643        0.926
            48          -0.16519        0.927
            49          -0.16400        0.927
            50          -0.16285        0.927
            51          -0.16174        0.927
            52          -0.16067        0.927
            53          -0.15964        0.927
            54          -0.15863        0.927
            55          -0.15767        0.927
            56          -0.15673        0.927
            57          -0.15582        0.927
            58          -0.15494        0.927
            59          -0.15409        0.927
            60          -0.15326        0.927
            61          -0.15246        0.927
            62          -0.15168        0.927
            63          -0.15092        0.927
            64          -0.15019        0.927
            65          -0.14947        0.927
            66          -0.14878        0.927
            67          -0.14810        0.927
            68          -0.14744        0.927
            69          -0.14680        0.927
            70          -0.14618        0.927
            71          -0.14557        0.927
            72          -0.14498        0.927
            73          -0.14440        0.927
            74          -0.14384        0.927
            75          -0.14329        0.927
            76          -0.14275        0.927
            77          -0.14223        0.927
            78          -0.14172        0.927
            79          -0.14122        0.927
            80          -0.14074        0.927
            81          -0.14026        0.927
            82          -0.13980        0.927
            83          -0.13934        0.927
            84          -0.13890        0.927
            85          -0.13846        0.927
            86          -0.13804        0.927
            87          -0.13762        0.927
            88          -0.13721        0.927
            89          -0.13681        0.927
            90          -0.13642        0.927
            91          -0.13604        0.927
            92          -0.13567        0.927
            93          -0.13530        0.927
            94          -0.13494        0.927
            95          -0.13459        0.927
            96          -0.13424        0.927
            97          -0.13390        0.927
            98          -0.13357        0.927
            99          -0.13324        0.927
         Final          -0.13292        0.927

In [38]:
## Asian
asian_tokens = makeTokens(['East Asian', 'Indian', 'Muslim'], train_df_w)
asian_classifier = mxec(asian_tokens)
asian_classifier.train()

  ==> Training (100 iterations)

      Iteration    Log Likelihood    Accuracy
      ---------------------------------------
             1          -1.09861        0.333
             2          -0.62121        0.862
             3          -0.46739        0.880
             4          -0.39155        0.895
             5          -0.34462        0.904
             6          -0.31182        0.914
             7          -0.28712        0.922
             8          -0.26758        0.927
             9          -0.25159        0.932
            10          -0.23817        0.937
            11          -0.22669        0.940
            12          -0.21672        0.942
            13          -0.20795        0.944
            14          -0.20017        0.946
            15          -0.19320        0.947
            16          -0.18692        0.948
            17          -0.18122        0.949
            18          -0.17603        0.950
            19          -0.17128        0.951
            20          -0.16690        0.951
            21          -0.16287        0.952
            22          -0.15913        0.952
            23          -0.15565        0.953
            24          -0.15241        0.953
            25          -0.14939        0.954
            26          -0.14656        0.954
            27          -0.14390        0.954
            28          -0.14140        0.954
            29          -0.13905        0.954
            30          -0.13683        0.955
            31          -0.13473        0.955
            32          -0.13274        0.955
            33          -0.13085        0.955
            34          -0.12906        0.955
            35          -0.12736        0.955
            36          -0.12574        0.955
            37          -0.12419        0.955
            38          -0.12272        0.955
            39          -0.12131        0.955
            40          -0.11996        0.955
            41          -0.11867        0.955
            42          -0.11743        0.955
            43          -0.11625        0.955
            44          -0.11511        0.955
            45          -0.11402        0.955
            46          -0.11297        0.955
            47          -0.11196        0.955
            48          -0.11098        0.955
            49          -0.11004        0.955
            50          -0.10914        0.955
            51          -0.10827        0.955
            52          -0.10742        0.955
            53          -0.10661        0.955
            54          -0.10582        0.955
            55          -0.10506        0.955
            56          -0.10433        0.955
            57          -0.10361        0.955
            58          -0.10292        0.955
            59          -0.10225        0.955
            60          -0.10160        0.955
            61          -0.10097        0.956
            62          -0.10036        0.956
            63          -0.09977        0.956
            64          -0.09919        0.956
            65          -0.09863        0.956
            66          -0.09809        0.956
            67          -0.09756        0.956
            68          -0.09704        0.956
            69          -0.09654        0.956
            70          -0.09605        0.956
            71          -0.09558        0.956
            72          -0.09511        0.956
            73          -0.09466        0.956
            74          -0.09422        0.956
            75          -0.09379        0.956
            76          -0.09337        0.956
            77          -0.09296        0.956
            78          -0.09257        0.956
            79          -0.09218        0.956
            80          -0.09180        0.956
            81          -0.09142        0.956
            82          -0.09106        0.956
            83          -0.09070        0.956
            84          -0.09036        0.956
            85          -0.09002        0.956
            86          -0.08969        0.956
            87          -0.08936        0.956
            88          -0.08904        0.956
            89          -0.08873        0.956
            90          -0.08842        0.956
            91          -0.08813        0.956
            92          -0.08783        0.956
            93          -0.08755        0.956
            94          -0.08727        0.956
            95          -0.08699        0.956
            96          -0.08672        0.956
            97          -0.08646        0.956
            98          -0.08620        0.956
            99          -0.08594        0.956
         Final          -0.08569        0.956

In [ ]:
## Hispanic

In [ ]:
## Native American

In [30]:
# Test Classifier
print "Michael     ", classifier.classify('Michael')
print "Roberto     ", classifier.classify('Roberto')
print "Lee         ", classifier.classify('Lee')
print "Humza ", classifier.classify('Humza')

Michael

NameError: name 'classifier' is not defined

In [ ]:
print 'hello'